In [1]:
import pandas as pd

In [2]:
transactions = pd.read_csv("data/transactions_train.csv")
customers = pd.read_csv("data/customers.csv")
articles = pd.read_csv("data/articles.csv")

In [3]:
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [4]:
transactions.tail()

,t_dat,customer_id,article_id,price,sales_channel_id
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [5]:
customers.head(100)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
...,...,...,...,...,...,...,...
95,00041bd4c669adc077b6488a2d23ee229a9ad962ab3ee7...,NaN,NaN,PRE-CREATE,NONE,58.0,ea731df2fc7625e27cb20ea1a17bb3255ddb125ef35459...
96,00045027219e894b683fb4687211e2d0c904c268e9f28d...,NaN,NaN,ACTIVE,NONE,20.0,777fe14eafe75737a8e234db25da1d0e0c5009c3931f02...
97,0004518be81f6f0dd216dc5699016bc159ebb9dbd62a76...,NaN,NaN,ACTIVE,NONE,20.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
98,00045b41ba4df7a2e6c09093ec92873ea43a137cf2b24c...,NaN,NaN,ACTIVE,NONE,18.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
99,0004690d2b68d5175697d197a86065595ef7b49c7c051b...,NaN,NaN,PRE-CREATE,NONE,NaN,d831ea0a55a7a7af0e3ff9da0d370e225242bbc7999d78...

In [5]:
articles.tail(10)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
105532,949594001,949594,LOGG Elvis jogger.,272,Trousers,Garment Lower body,1010016,Solid,8,Dark Grey,...,Jersey,A,Ladieswear,1,Ladieswear,2,H&M+,1005,Jersey Fancy,Joggers in soft sweatshirt fabric with an elas...
105533,950449002,950449,Compact brush Fancy,78,Other accessories,Accessories,1010016,Solid,50,Other Pink,...,Girls Small Acc/Bags,J,"Children Accessories, Swimwear",4,Baby/Children,43,"Kids Accessories, Swimwear & D",1019,Accessories,"Small, folding hair brush with a rhinestone-de..."
105534,952267001,952267,Heavy plain overknee tights 1p,304,Underwear Tights,Socks & Tights,1010013,Other pattern,9,Black,...,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,Fine-knit tights with an elasticated waist tha...
105535,952937003,952937,Jets dress,265,Dress,Garment Full body,1010001,All over pattern,13,Beige,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,"Fitted, calf-length dress in viscose jersey wi..."
105536,952938001,952938,Elton top,254,Top,Garment Upper body,1010001,All over pattern,13,Beige,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,Fitted top in jersey with a round neckline and...
105537,953450001,953450,5pk regular Placement1,302,Socks,Socks & Tights,1010014,Placement print,9,Black,...,Socks Bin,F,Menswear,3,Menswear,26,Men Underwear,1021,Socks and Tights,Socks in a fine-knit cotton blend with a small...
105538,953763001,953763,SPORT Malaga tank,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,2,H&M+,1005,Jersey Fancy,Loose-fitting sports vest top in ribbed fast-d...
105539,956217002,956217,Cartwheel dress,265,Dress,Garment Full body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,"Short, A-line dress in jersey with a round nec..."
105540,957375001,957375,CLAIRE HAIR CLAW,72,Hair clip,Accessories,1010016,Solid,9,Black,...,Small Accessories,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,Large plastic hair claw.
105541,959461001,959461,Lounge dress,265,Dress,Garment Full body,1010016,Solid,11,Off White,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,Calf-length dress in ribbed jersey made from a...

Preprocessing

In [7]:
# adding product code to transactions df
transactions = pd.merge(transactions, articles[['article_id', 'product_code', 'detail_desc']], left_on="article_id",right_on="article_id")
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id,product_code_x,product_code_y,detail_desc
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,663713,663713,"Lace push-up body with underwired, moulded, pa..."
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,541518,541518,"Lace push-up bras with underwired, moulded, pa..."
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,505221,505221,Jumper in rib-knit cotton with hard-worn detai...
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,685687,685687,V-neck knitted jumper with long sleeves and ri...
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,685687,685687,V-neck knitted jumper with long sleeves and ri...

In [8]:
# dropping customer fn and fn freq
customers = customers[["customer_id","age"]]

In [9]:
# handling nan in customers df
print("Total customers",customers.shape[0])
print("Customers with missing age",customers["age"].isna().sum())
print("%: ",customers["age"].isna().sum()/customers.shape[0]*100)

Total customers 1356119
Customers with missing age 0
%:  0.0

In [11]:
customers.dropna(subset=["age"],inplace=True)
print("Total customers after drop: ",customers.shape[0])
print("Customers with missing age",customers["age"].isna().sum())

Total customers after drop:  1356119
Customers with missing age 0

In [21]:
# recommending last weeks popular purchases
transactions.t_dat = pd.to_datetime(transactions.t_dat)
last_week_transactions = transactions.loc[transactions.t_dat >= pd.to_datetime('2020-09-16')]
# top_12 = ' 0' + ' 0'.join(last_week_transactions.article_id.value_counts().to_pandas().index.astype('str')[:12])
popular_articles = last_week_transactions.groupby('product_code_x').size().reset_index(name='purchase_count')

# Sort articles by purchase count in descending order
popular_articles = popular_articles.sort_values(by='purchase_count', ascending=False).reset_index()

popular_articles_desc = articles[articles['product_code'].isin(popular_articles['product_code_x'])]
# Display the most popular articles
popular_articles_desc.head(15)[['article_id','prod_name','product_type_name','product_group_name','department_name','index_name','detail_desc']]

,article_id,prod_name,product_type_name,product_group_name,department_name,index_name,detail_desc
0,108775015,Strap top,Vest top,Garment Upper body,Jersey Basic,Ladieswear,Jersey top with narrow shoulder straps.
1,108775044,Strap top,Vest top,Garment Upper body,Jersey Basic,Ladieswear,Jersey top with narrow shoulder straps.
2,108775051,Strap top (1),Vest top,Garment Upper body,Jersey Basic,Ladieswear,Jersey top with narrow shoulder straps.
6,111565001,20 den 1p Stockings,Underwear Tights,Socks & Tights,Tights basic,Lingeries/Tights,"Semi shiny nylon stockings with a wide, reinfo..."
7,111565003,20 den 1p Stockings,Socks,Socks & Tights,Tights basic,Lingeries/Tights,"Semi shiny nylon stockings with a wide, reinfo..."
8,111586001,Shape Up 30 den 1p Tights,Leggings/Tights,Garment Lower body,Tights basic,Lingeries/Tights,Tights with built-in support to lift the botto...
9,111593001,Support 40 den 1p Tights,Underwear Tights,Socks & Tights,Tights basic,Lingeries/Tights,"Semi shiny tights that shape the tummy, thighs..."
10,111609001,200 den 1p Tights,Underwear Tights,Socks & Tights,Tights basic,Lingeries/Tights,Opaque matt tights. 200 denier.
27,123173001,Control Top 50 den 1p Tights,Leggings/Tights,Garment Lower body,Tights basic,Lingeries/Tights,50 denier tights with reinforcement at the top...
33,129085001,Pirate Leggings (1),Leggings/Tights,Garment Lower body,Jersey Basic,Ladieswear,3/4-length leggings in stretch jersey with an ...
34,129085026,Pirate Leggings (1),Leggings/Tights,Garment Lower body,Jersey Basic,Ladieswear,3/4-length leggings in stretch jersey with an ...
35,129085027,Pirate Leggings (1),Leggings/Tights,Garment Lower body,Jersey Basic,Ladieswear,3/4-length leggings in stretch jersey with an ...
36,130035001,Black Umbrella,Umbrella,Items,Other items,Ladies Accessories,Umbrella with a telescopic handle and matching...
39,144993001,Mama 100 den 1p Tights,Underwear Tights,Socks & Tights,Tights basic,Lingeries/Tights,Matt tights with an elasticated waist and extr...
40,145872001,Dorian l/s basic,Sweater,Garment Upper body,Men Sport Woven,Sport,"Long-sleeved sports top in fast-drying, breath..."

In [27]:
# recommending Customers popular purchases
tmp = transactions.groupby(['customer_id','product_code_x'])['t_dat'].agg('count').reset_index()
tmp.columns = ['customer_id','product_code_x','ct']
customers_wise_popular_transactions = transactions[["customer_id", "product_code_x","detail_desc"]].merge(tmp,on=['customer_id','product_code_x'],how='left')
customers_wise_popular_transactions = customers_wise_popular_transactions.sort_values(['ct'],ascending=False)
customers_wise_popular_transactions = customers_wise_popular_transactions.drop_duplicates(['customer_id','product_code_x'])
customers_wise_popular_transactions = customers_wise_popular_transactions.sort_values(['ct'],ascending=False)
customers_wise_popular_transactions = customers_wise_popular_transactions[customers_wise_popular_transactions['customer_id']=='00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657']
customers_wise_popular_transactions.head(10)

,customer_id,product_code_x,detail_desc,ct
31140481,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601,Fitted jacket in woven fabric with notch lapel...,3
17074660,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,797065,Fitted jacket in woven fabric with notch lapel...,2
4212358,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,625548,"Padded jacket with a detachable hood, stand-up...",1
4212359,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,176209,"Short, padded jacket with a jersey-lined hood ...",1
4212360,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,627759,"Padded parka in woven fabric with a soft, brus...",1
16728347,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,656719,Tailored trousers in a stretch weave with two ...,1
14479579,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,745232,"Short 5-pocket skirt in washed, stretch denim ...",1
14479578,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,607642,Top in a crêpe weave with a V-shaped opening a...,1
19160879,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,785186,Long-sleeved top in soft jersey with a draped ...,1
19357366,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,812683,"Long dress in an airy weave with a round, gath...",1

In [14]:
op_10_per_customer = customers_wise_popular_transactions.groupby('customer_id').apply(lambda x: x.nlargest(10, 'ct')).reset_index(drop=True)